
.next button {
   
    font-size: 2em;
    background-color: black;
    color: white;
}

.next button:disabled {
    background-color:orange;
    color: red;
}

.next {
    height: 100px;
}
.prev {
    height: 100px;
}
